.elodin-bridge-page-like-title .edit-post-visual-editor__post-title-wrapper {
	background: #000;
	border-radius: 0;
	padding: 30px 50px;
}

.elodin-bridge-page-like-title .edit-post-visual-editor__post-title-wrapper .wp-block-post-title,
.elodin-bridge-page-like-title .edit-post-visual-editor__post-title-wrapper .editor-post-title__input,
.elodin-bridge-page-like-title .edit-post-visual-editor__post-title-wrapper .editor-post-title__input::placeholder {
	color: #8c8f94 !important;
}

.elodin-bridge-page-like-title .edit-post-visual-editor__post-title-wrapper:not(:focus-within) .wp-block-post-title,
.elodin-bridge-page-like-title .edit-post-visual-editor__post-title-wrapper:not(:focus-within) .editor-post-title__input {
	text-decoration: line-through;
	text-decoration-thickness: 0.08em;
	text-decoration-thickness: from-font;
	text-decoration-color: currentColor;
	text-decoration-skip-ink: auto;
	opacity: 0.55 !important;
}

.elodin-bridge-page-like-title .editor-styles-wrapper {
	margin-top: 0 !important;
}

.elodin-bridge-page-like-title .editor-visual-editor__post-title-wrapper {
	margin-top: 0 !important;
}

.elodin-bridge-page-like-title .editor-styles-wrapper > .wp-block {
	max-width: 100%;
}

.elodin-bridge-post-like-title .block-list-appender {
	margin-left: auto;
	margin-right: auto;
}

.elodin-bridge-post-like-title .wp-block-post-title {
	margin-left: auto;
	margin-right: auto;
}

.elodin-bridge-post-like-title .edit-post-visual-editor__post-title-wrapper {
	margin-bottom: 30px;
}

.elodin-bridge-post-like-title .is-root-container > * {
	margin-left: auto;
	margin-right: auto;
}
