.is-root-container.edit-widgets-main-block-list > .wp-block {
	width: 100%;
	max-width: calc(100% - 30px);
	margin: 15px;
}

.is-root-container.edit-widgets-main-block-list > .block-editor-block-list__layout > .wp-block {
	width: 100%;
	max-width: 100%;
}

.is-root-container.edit-widgets-main-block-list .wp-block-widget-area__inner-blocks > .block-editor-block-list__layout {
	background-color: #ccc;
}

.blocks-widgets-container .editor-styles-wrapper {
	max-width: 100%;
	width: 100%;
}
