p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
blockquote:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
.p:last-child,
.li:last-child,
.h1:last-child,
.h2:last-child,
.h3:last-child,
.h4:last-child,
.wp-block-list:last-child {
	margin-bottom: 0;
}

.wp-block-buttons:last-child {
	margin-top: var(--space-l);
	margin-bottom: 0;
}
